.cabecera{
    background-color: $color-primary;
    display: flex;
    align-items: center;
}
.display-1{
    font-weight: bold;
}
.navbar-collapse {
    flex-grow: inherit;
    color: $color-secondary;
    font-weight: bolder;
    font-size: medium;
}
.navbar-brand{
    color: $color-primary;
}
.navbar{
    background-color: $color-primary;
}