.filtros{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.presupuesto{
    margin-left: 400px;
    margin-right: 400px ;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.boton{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}