.filtros{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.display-8{
    font-size: 16px;
    font-weight: 450;
    color: $color-secondary;
}
.presupuesto{
    margin-left: 50px;
    margin-right: 50px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.boton{
    @include boton($color, $margin-top)
}